html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: absolute;
}

.body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #e9ecef;
    height: 75px;
    flex-grow: 1;
    background-color: #81d4fa
}

arcgis-map {
    cursor: pointer;
    width: 100%;
    flex-grow: 1;
    min-height: 80%;
    height: calc(100% - 75px);
}

.controls-wrapper {
    height: auto;
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.time-slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-overlay-element {
    background-color: rgba(255, 255, 255, 0.40);
    padding: 5px 10px;
}

.legend {
    bottom: 30px;
    right: 0;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px #ddd solid;
}

.legend:hover {
    background: rgba(255, 255, 255, 0.9);
}

.header-group {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-header-bar h4 {
    margin: 0;
}

.status-btn {
    border: 1px solid black;
    text-transform: unset;
    font-weight: bold;
    width: 150px;
    color: black;
    background-color: white;
}

.status-btn.active {
    color: white;
    background-color: green;
}

.chart {
    height: fit-content;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    max-width: 1250px;
    max-height: max(4in, 575px);
}

.controls-box {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.button-group {
    display: flex;
    flex-direction: column;
}

/* Override materialize css styles */
label {
    font-size: 1.2rem !important;
}

ul.dropdown-content {
    max-height: 400px;
}

.custom-toast-placement {
    position: fixed;
    top: 30% !important;
    text-align: center;
}

button {
    margin: 5px;
}

.chart-category-container {
    width: 100%;
    visibility: visible;
    transition: transform 0.5s;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute
}

.chart-category-container.dissolve-backwards {
    transform: translateX(-100%);
}

.modal.bottom-sheet {
    max-height: 80%;
}

button > a {
    color: unset;
}

.time-sliders {
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
    visibility: hidden;
}

.time-sliders.show-slider {
    visibility: visible;
}

.time-slider-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f8f9fa;
}

#charts-modal > .modal-content {
    padding: 5px;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-footer {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

input.river-id {
    width: 200px;
    margin: 10px
}

table.forecast-probability-table td, table.forecast-probability-table th {
    text-align: center;
}

#forecast-date-calendar {
    width: 150px;
    margin: 0;
}

#enter-river-id-container {
    width: 350px;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* on mobile screens, change the download-buttons class */
@media (max-width: 800px) {
    .download-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-bar-wrapper {
        padding: 0 13px;
    }

    .hide-on-small-only {
        display: none;
    }
}

#report, #report * {
    z-index: -1;
    opacity: 0;
    transform: none !important;
    zoom: 1 !important;
}

#report {
    box-sizing: border-box;
    page-break-after: always; /* Ensure each report starts on a new page */
    position: absolute;
    overflow-y: scroll;
    height: 100%;
}

.report-page {
    page-break-after: always;
    width: 7.5in;
    height: 10in;
    margin: 0.5in;
    align-items: center;
    flex-direction: column;
}

#report img {
    width: 100%;
}

.progress-with-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.progress-with-label progress {
    width: 80%;
}

.progress-with-label div {
    width: 15%;
    text-align: right;
    font-weight: bold;
}

@media print {
    /* hide everything except the report */
    body * {
        visibility: hidden;
    }

    #report, #report * {
        visibility: visible;
    }

    #report, #report * {
        opacity: 1;
        z-index: 1000;
        /*    make the height unlimited so there is enough space for all report content */
        height: auto;
    }

    /* special styling for the forecast table on print screens */
    table.forecast-probability-table td, table.forecast-probability-table th {
        font-size: 10pt;
        padding: 4px;
    }


    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
